* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #90EE90;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#score {
    text-decoration: none;
}

#quiz {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#instr {
    width: 45%;
}

#title {
    font-size: xx-large;
}

.btn {
    background-color: #301934;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: larger;
}

.btn:hover {
    background-color: #b19cd9;
}

.hide {
    display: none;
}

.show {
    display: unset;
}

.inp {
    background-color: white;
    border-radius: 6px;
    height: 40px;
    font-size: 20px;
}
